<!DOCTYPE html>
<html>
  <head>
    <title>Proyectoecosistemas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='application'>
    <%= render 'layouts/topbar' %>
    <main>
      <div class= "container">
        <div class="row" >
          <!-- <div class="col-md-3">
            Colocar aqui menu lateral...
          </div> -->
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
